@{
    ViewBag.Title = "Remix Icons";
    ViewBag.pTitle = "Remix Icons";
    ViewBag.pageTitle = "Icons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="row">
                            
</div><!-- end row -->

<div class="row">
    <div class="col-12" id="icons"></div> <!-- end col-->
</div><!-- end row -->

@section scripts{
    <!-- materialdesign icon js-->
    <script src="~/assets/js/pages/remix-icons-listing.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}