@{
    ViewBag.Title = "Apex Radar Charts";
    ViewBag.pTitle = "Radar Charts";
    ViewBag.pageTitle = "Apexcharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Basic Radar Chart</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <div id="basic_radar" data-colors='["--vz-success"]' class="apex-charts" dir="ltr"></div> 
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Radar Chart - Multiple series</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <div id="multi_radar" data-colors='["--vz-danger", "--vz-success", "--vz-primary"]' class="apex-charts" dir="ltr"></div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Radar Chart - Polygon Fill</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <div id="polygon_radar" data-colors='["--vz-info"]' class="apex-charts" dir="ltr"></div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

@section scripts{
    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- radarcharts init -->
    <script src="~/assets/js/pages/apexcharts-radar.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}